*{
    box-sizing: border-box;
}
.bar{
    border: 1px solid black;
    width: 4%;
    height: 100vh;
    background: rgb(6,2,77);
    background: linear-gradient(180deg, rgba(6,2,77,1) 0%, rgba(1,98,137,1) 38%, rgba(0,212,255,1) 100%);
}
img{
    position: absolute;
    left: 1.5%;
    top: 4%;
    width: 2%;
}
